  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  html {
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Inter", "Nebulosa Black", sans-serif;
    color:#151515;
  }
  button,
  a{
   cursor: pointer;
   text-decoration: none;
  }
  p,
  h2,
  h1,
  h3{
    margin: 0;
  }
  li{
    list-style: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .list-item_link{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #151515;
  }
  .list-item:nth-child(8){
    font-weight: 500;
    color: #fff;
    background-color: #03233A;
    width: 240px;
    height: 44px;
    border-radius: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
    border: none;
  }
  .list-item_link--color{
    color: #fff;
  }
  h1,
  h2{
    font-family: "Nebulosa Black", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;
  }
  .main-section{
    position: relative;
  }
  .main-section_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    padding-left: 55px;
    z-index: 100;
    top: 510px;
    width: 720px;
  }
  .main-section_button{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #151515;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 341px;
    height: 59px;
    border-radius: 15px;
    border: none;
  }
  .main-section_button:hover{
    background-color: #338DCE;
    color: #fff;
  }
  .main-section_span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    padding-bottom: 13px;
    border-bottom: 1px #fff solid;
    position: absolute;
    top: 14px;
    z-index: 100;
    width: 1021px;
    padding-bottom: 13px;
    border-bottom: 1px #fff solid;
    padding-left: 53px;
  }
  .main-section_h2{

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    padding: 19px 0 19px;
    border: 1px 0 1px #fff solid;
  }
  .main-section_h2--font{
    font-family: "Inter"; 
    position: absolute;
    top: 410px;
    z-index: 100;
    padding: 19px 0 19px;
    padding-left: 55px;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    width: 100%;
  }
  .main-section_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffff;
  }
  .section-company_link{
    background-color: #fff;
    width: 333px;
    height: 60px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-company_link:hover{
    background-color: #338DCE;
    color: #fff;
  }
  .section-services_link-option{
    background-color: inherit;
    border: 2px #151515 solid;
    width: 146px;
    height: 39px;
    color: #151515;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h3-services{
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #03233A;
    margin-bottom: 19px;
    width: 380px;
  }
  .link-services_button{
    width: 147px;
    height: 39px;
    border-radius: 20px;
    color: #03233A;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-services_button:hover{
    background-color: #338DCE;
    color: #fff;
  }
  .advantages-list-item_span{
    font-family: "Nebulosa Black", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    color: #03233A;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 140px;
  }
  .advantages-list-item_span--margin{
    margin-bottom: 155px;
  }
  .advantages-list-item_span--margin-min{
    margin-bottom: 115px;
  }
  .advantages-list-item_p{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #03233A;
  }
  .section-offer_p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #404040;
    position: relative;
  }
  .section-offer_button{
    width: 332px;
    height: 54px;
    border-radius: 15px;
    border: 2px solid;
    background-color: #0000;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    color: #151515;
  }
  .section-offer_button:hover{
    background-color: #fff;
  }
  .section-footer_h2{
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 30px;
  }
  .section-footer_link{
    color: #F0F5FF;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .contact-list-item_a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .header{
    padding: 30px 0 30px;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 100;
  }
  .nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav{
    width: 100%;
  }
  .link-logo{
    margin-right: 55px;
  }
  .list-item{
    margin-right: 55px;
  }
  .list-item:nth-child(8){
    margin-right: 0;
  }
  .main{
    margin: 0 auto;
  }
  .main-section_h1{
    /* width: 627px; */
    text-transform: uppercase;
  }
  .section--margin{
    margin: 0 auto;
    display: flex;
  }
  .main--swiper{
    display: grid;
    grid-template-columns: 43% 53%;
    gap: 2%;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 31px;
    margin-top: 135px;
    height: 608px;
  }
  .main-section--margin{
    height: 608px;
    background-color: #F0F5FF;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 105px 0 155px;
    padding-left: 21%;
  }
  .main-section_p--color{
    color: #151515;
    margin: 20px 0 20px;
    width: 380px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter"
  }
  .main-section_img--swiper{
    border-radius: 15px;
  }
  .section-services{
    width: 98%;
    margin: 0 auto;
    background-color: #F0F5FF;
    box-sizing: border-box;
    padding: 30px 9% 98px;
    margin-bottom: 30px;
    border-radius: 15px;
  }
  .section-services_div{
    display: flex;
    width: 734px;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
  }
  .img-services{
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .section-services_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .section-company{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 48% 47%;
    justify-content: center;
    gap: 3%;
    margin-bottom: 30px;
  }
  .section-company_div--color{
    background-color: #F0F5FF;
    border-radius: 15px;
    height: 620px;
    padding: 135px 0 155px;
    box-sizing: border-box;
    padding-left: 19%;
  }
  .section-company_h2{
    margin-bottom: 45px;
    text-transform: uppercase;
  }
  .section-company_p{
    width: 95%;
    /* margin-bottom: 45px; */
    font-family: "Inter"; 
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #03233A;
  }
  .section-services_h2{
    text-transform: uppercase;
  }
  .section-advantages{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 98%;
    background-color: #F0F5FF;
    border-radius: 15px;
    height: 670px;
  }
  .advantages-list{
    width: 87%;
    background-color: #F0F5FF;
    border-radius: 15px;
    height: 670px;
    box-sizing: border-box;
    padding: 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: space-between;
  }
  .item_h2{
    text-transform: uppercase;
    width: 619px;
  }
  .advantages-list-item:nth-child(1){
    margin-right: 14%;
    display: flex;
    align-items: center;
  }
  .advantages-list-item:nth-child(2){
    background-color: #fff;
    width: 660px;
    height: 305px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 30px 30px;
    padding-right: 15px;
    margin-bottom: 15px;
  }
  .advantages-list-item:nth-child(3){
    background-color: #fff;
    width: 489px;
    height: 290px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 30px 30px;
    padding-right: 15px;
  }
  .advantages-list-item:nth-child(4){
    background-color: #fff;
    width: 489px;
    height: 290px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 30px 30px;
    padding-right: 15px;
  }
  .advantages-list-item:nth-child(5){
    background-color: #fff;
    width: 489px;
    height: 290px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 30px 30px;
    padding-right: 15px;
  }
  .advantages-list-item_p{
    width: 345px;
  }
  .section-advantages_div--margin{
    margin: 0 auto;
    width: 94%;
  }
  .advantages-list-item_p--width{
    width: 270px;
  }
  .section-client{
    margin: 0 auto;
    align-content: center;
  }
  .section-client_h2{
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    margin: 130px 0 90px;
  }
  .section-offer{
    margin: 0 auto;
    padding: 137px 0 105px;
    text-align: center;
    align-content: center;
    /* height: 750px; */
    position: relative;
    /* background: linear-gradient(#fff, #c0daf2); */
  }
  .section-offer_h2{
    color: #151515;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
  }
  .section-offer_p{
    margin-bottom: 60px;
  }
  .button--center{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
  }
  .section-footer--flex{
    display: grid;
    grid-template-columns: 42% 58%;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    background-color: #03233A;
    box-sizing: border-box;
    padding: 0 189px 45px;
    height: 475px;
    padding-right: 0;
    border-radius: 15px;
    z-index: 100;
    position: relative;
  }
  .section-footer--margin{
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .section-footer_list-item:nth-child(2){
    margin-bottom: 20px;
    margin-left: 5%;
  }
  .section-footer_list-item:nth-child(3){
    margin-bottom: 20px;
  }
  .section-footer_list-item:nth-child(4){
    margin-bottom: 20px;
  }
  iframe{
    width: 100%;
    height: 475px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .section-footer-contact{
    background-color: #03233A;
    padding: 30px 24% 41px;
  }
  .contact-list{
    width: 1006px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
  }
  .footer-logo{
    width: 100%;
    text-align: center;
  }
  .section-footer_svg{
    margin-left: 5px;
  }
  .adress--flex{
    display: flex;
  }
  .section-footer_link--margin{
    margin-left: 30px;
  }
  .main-company_list-nav_div{
    width: 79%;
    margin: 0 auto;
    margin-top: 150px;
  }
  .main-company_list-nav{
    display: flex;
    margin-bottom: 30px;
  }
  .main-company_section--grid{
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 0 auto;
    width: 95%;
    gap: 30px;
    margin-bottom: 114px;
  }
  .main-company_img{
    width: 100%;
    height: 436px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .section-process{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 88px;
  }
  .section-price{
    margin-top: 110px;
  }
  .section-price_h2{
    text-align: center;
    margin-bottom: 60px;
  }
  .section-price_list{
    width: 70%;
    margin: 0 auto;
  }
  .section-price_list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .section-price_list-item{
    background-color: #f0f5ff;
    border-radius: 50px;
    height: 88px;
    padding: 15px 60px 15px;
    box-sizing: border-box;
  }
  .section-price_ul{
    align-items: center;
    display: grid;
    grid-template-columns: 80% 20%;
  }
/* Пишем стили для анимации текста */
.c1{
  display: inline-block;
}
.c1--margin{
  margin-bottom: 45px;
}
.c2{
  display: inline-block;
}
.c3{
  display: inline-block;
}
.c4{
  display: inline-block;
}
h2 .type{
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
}
h2 .type2{ 
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 1s;
}
h2 .type3{ 
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 2s;
}
h2 .type4{ 
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 3s;
}
h2 .type5{ 
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 4s;
}
h2 .type6{ 
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 5s;
}
h1 .type{
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
}
h1 .type2{ 
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 1s;
}
h1 .type3{
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 2s;
}
h1 .type4{
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 3s;
}
h1 .type5{ 
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 4s;
}
h1 .type6{
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 5s;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: orange; }
}
.footer{
  position: relative;
}
.section--gradient{
  background: linear-gradient(#fff, #c0daf2);
  padding-bottom: 15px;
}
.swiper2{
  width: 1860px;
  background-color: #F0F5FF;
}
.swiper-button-next:after{
  --swiper-navigation-size: 30px;
}
.swiper-button-prev:after{
  --swiper-navigation-size: 30px;
}
#swiper2{
  width: 100%;
}
.section-swiper--padding{
  width: calc(100% - 60px);
  background-color: #F0F5FF;
  border-radius: 15px;
  padding-left: 168px;
  padding-right: 168px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}
.div-client--margin{
  margin: 0 auto;
}
#swiper-button-prev--color{
  color: #fff; 
  border: 1px #fff solid; 
  border-radius: 100%; 
  width: 44px; 
  height: 44px;
  top: 60%;
  left: 30px;
}
#swiper-button-prev--color{
  color: #fff; 
  border: 1px #fff solid; 
  border-radius: 100%; 
  width: 44px; 
  height: 44px;
  top: 60%;
  left: 30px;
}
#swiper-button-prev2{
  background-color: #fff;
  color: #03233A;
  left: 44px;
}
#swiper-button-next--color{
  color: #fff;
  border: 1px #fff solid;
  border-radius: 100%; 
  width: 44px; 
  height: 44px;
  top: 60%;
  left: 100px;
}
.swiper-slide_span--color{
  color: #fff;
  background-color: #338dce;
}
#swiper-button-next2{
  background-color: #fff;
  color: #03233A;
  border-radius: 100%; 
  width: 44px; 
  height: 44px;
  left: 1741px;
}
#swiper-button-prev2{
  background-color: #fff;
  color: #03233A;
  border-radius: 100%; 
  width: 44px; 
  height: 44px;
  left: 44px;
}
#swiper-button-prev3{
  left: -10%;
  position: absolute;
  z-index: 1000;
  color: #151515;
  height: 78px;
  width: 78px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f5ff;
  border-radius: 100px;
}
#swiper-button-next3{
  right: -10%;
  position: absolute;
  z-index: 1000;
  color: #151515;
  height: 78px;
  width: 78px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f5ff;
  border-radius: 100px;
}
.swiper-slide-img{
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
#swiper1{
  border-radius: 15px;
} 
:root {
  --swiper-navigation-size: 30px;
}
.main-company_link--color{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909090;
}
.main-company_link{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #404040;
}
.main-company_section-h2--color{
  font-family: "Nebulosa Black", sans-serif;
  font-weight: 400px;
  font-size: 64px;
  line-height: 64px;
  color: #fff;
  text-transform: uppercase;
  height: 214px;
  width: 100%;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 50px;
  box-sizing: border-box;
}
.main-company_section-div{
  background-color: #151515;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.list-company{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 100%;
}
.list-company_item{
  background-color: #f0f5ff;
  border-radius: 15px;
  padding: 25px;
  box-sizing: border-box;
}
.list-company_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 57px;
  border-radius: 10px;
  border: 2px #338DCE solid;
  background-color: inherit;
}
/* .list-company_button:hover{
  background-color: #338DCE;
} */
.list-company_item:nth-child(1){
  display: grid;
  grid-template-columns: 75% 15%;
  gap: 30px;
}
.list-company_p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #151515;
  text-transform: uppercase;
}
.list-company_p--width{
  width: 700px;
}
.list-company_span{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #151515;
  text-transform: uppercase;
}
.section-process_h2{
  font-family: "Nebulosa Black", sans-serif;
  font-weight: 400px;
  font-size: 64px;
  line-height: 64px;
  color: #151515;
  text-transform: uppercase;
  text-align: center;
}
.section-process_p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #404040;
}
.swiper-slide_span{
  font-family: "Nebulosa Black", sans-serif;
  font-weight: 400px;
  font-size: 48px;
  line-height: 66px;
  color: #03233A;
  text-transform: uppercase;
}
.swiper-slide_p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #03233A;
  text-align: center;
  padding: 15px 0 30px;
  height: 132px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0;
}
.section-price_h2{
  font-family: "Nebulosa Black", sans-serif;
  font-weight: 400px;
  font-size: 64px;
  line-height: 64px;
  color: #151515;
  text-transform: uppercase;
}
.section-price_li:nth-child(1){
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 1);
}
.section-price_li--color{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(51,141, 206, 1);
}
.swiper-slide_div--width{
  width: 100%;
}
.swiper-slide_span{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f5ff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#swiper-slide_span{
  background-color: #f0f5ff;
}
.swiper-slide_span--color{
  color: #fff;
  background-color: rgba(51, 141, 206, 0.15);
}
.swiper-slide_p{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(51, 141, 206, 0.15);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  padding: 15px 0 30px;
}
.swiper-slide_p--color{
  color: #fff;
}
#swiper-wrapper-campony--center{
  margin: 0 auto;
  width: 75%;
  position: relative;
}
.swiper-slide_div{
  height: 198px;
}
.swiper-slide_div--width-color{
  color: #fff;
  background-color: #338dce;
  border-radius: 25px;
}
/* анимация кубов */
.container_list-item--animation:hover{
  top: 20px;
  cursor: pointer;
}
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.stage{
  top: 50px;
  left: 92px;
  position: absolute;
  cursor: pointer;
}
.stage1{
  top: 250px;
  left: 500px;
  position: absolute;
}
.stage2{
  top: 350px;
  left: 800px;
  position: absolute;
}
.stage3{
  top: 250px;
  left: 1200px;
  position: absolute;
}
.stage4{
  top: 200px;
  left: 1500px;
  position: absolute;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
  width: 100%;
}
.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: linear;
  width: 100%;
}
.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: linear;
  width: 100%;
}
.bounce-4 {
  animation-name: bounce-4;
  animation-timing-function: linear;
  width: 100%;
}
.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: linear;
  width: 100%;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(20px); }
  100% { transform: translateY(0); }
}
@keyframes bounce-2 {
  0%   { transform: translateY(20px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(20px); }
}
@keyframes bounce-3 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
@keyframes bounce-4 {
  0%   { transform: translateY(20px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(20px); }
}
@keyframes bounce-5 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(30px); }
  100% { transform: translateY(0); }
}